<div class="bg-gray-100 max-w-screen-md container mx-auto pb-4">

<h3 class="text-center text-3xl py-4">餐廳資訊</h3>

    <nav class="flex justify-center flex-col sm:flex-row">
        <button class="text-black-500 py-4 px-6 block hover:text-orange-500 focus:outline-none text-orange-500 border-b-4 font-medium border-orange-500 mr-10 w-4/12 text-lg">
            訂位
        </button>
        <button class="text-black py-4 px-6 block hover:text-orange-500 focus:outline-none mr-10 w-4/12 text-lg">
            資訊
        </button>
        <button class="text-black py-4 px-6 block hover:text-orange-500 focus:outline-none w-4/12 text-lg">
            評價
        </button>
    </nav>

   <div class="w-full h-2/6 mt-0">
    <div class="flex flex-col items-center">

      <div class="w-full bg-white overflow-x-hidden flex snap-x" style="height: 40vh">

        <div class="snap-start w-full h-full flex items-center justify-center text-white text-4xl font-bold flex-shrink-0 bg-blue-600" id="slide-1">
          Slide 1
        </div>
        <div class="snap-start w-full h-full flex items-center justify-center text-white text-4xl font-bold flex-shrink-0 bg-green-600" id="slide-2">
          Slide 2
        </div>
        <div class="snap-start w-full h-full flex items-center justify-center text-white text-4xl font-bold flex-shrink-0 bg-red-600" id="slide-3">
          Slide 3
        </div>
        <div class="snap-start w-full h-full flex items-center justify-center text-white text-4xl font-bold flex-shrink-0 bg-orange-600" id="slide-4">
          Slide 4
        </div>
        <div class="snap-start w-full h-full flex items-center justify-center text-white text-4xl font-bold flex-shrink-0 bg-purple-600" id="slide-5">
          Slide 5
        </div>

      </div>
  
      <div class="flex mt-0">
        <a class="w-8 mr-1 h-8 text-gray-700 rounded-full bg-white flex justify-center items-center" href="#slide-1">1</a>
        <a class="w-8 mr-1 h-8 text-gray-700 rounded-full bg-white flex justify-center items-center" href="#slide-2">2</a>
        <a class="w-8 mr-1 h-8 text-gray-700 rounded-full bg-white flex justify-center items-center" href="#slide-3">3</a>
        <a class="w-8 mr-1 h-8 text-gray-700 rounded-full bg-white flex justify-center items-center" href="#slide-4">4</a>
        <a class="w-8 h-8 text-gray-700 rounded-full bg-white flex justify-center items-center" href="#slide-5">5</a>
      </div>

    </div>
  </div>
    

  <div>
    <%# <%= render store_id %>
    <h3 class="text-xl text-orange-500 pl-6 py-4">豐FOOD 海陸百匯</h3>

    <div class="text-left pl-6 text-base">
      ​
      【歡慶歲末】2021聖誕跨年 95 折起＋ 2% EZCASH 回饋<br>
      下訂日期：2021/ 11/ 24 - 2022/ 01/ 02<br>
      用餐日期：2021/ 11/ 24 - 2022/ 01/ 02<br>
      ★ 平日午餐 吃到飽 特別優惠價$1049/人(原價 $1099)<br>
      ★ 平日晚餐 吃到飽 特別優惠價$1154/人(原價 $1209)<br>
      ★ 平日下午茶 吃到飽 特別優惠價$734/人(原價 $769)<br>

      ★ 假日下午茶 吃到飽 特別優惠價$855/人(原價 $879)<br>
      ★ 假日午晚餐 吃到飽 特別優惠價$1283/人(原價 $1319)<br>

      ➤ 12/31 適用假日價格<br>
      ➤ 若需變更用餐人數，請聯繫EZTABLE客服團隊修改訂單<br>
      ➤ 本優惠之相關活動辦法、未盡事項或變更，餐廳保有活動變更之權利及活動最終解釋權<br>
      ➤ 以上價格皆內含服務費<br>
      ➤ 請預訂全部成人人數。若孩童欲一同前往，請於「特殊需求」欄位備註「幾位大人幾位小孩」及所需娃娃椅，兒童 80~100 公分需酌收 150 元清潔費：100~140 公分半價計費；140 公分以上以成人價計費，孩童餐費可於現場付費！<br>

      --------------------------------------------<br>

      【獨家方案】<br>
      下訂日期：即日起~2022/12/31<br>
      用餐日期：即日起~2022/12/31<br>

      ★ 平日午餐 吃到飽 特別優惠價$1049/人(原價 $1099)<br>
      ★ 平日下午茶 吃到飽 特別優惠價$734/人(原價 $769)<br>
      ★ 平日晚餐 吃到飽 特別優惠價$1154/人(原價 $1209)<br>
      ★ 假日午晚餐 吃到飽 特別優惠價$1283/人(原價 $1319)<br>
      ★ 假日下午茶 吃到飽 特別優惠價$855/人(原價 $879)<br>

      ➤ 1/22適用平日價<br>
      ➤ 2/28、4/4、4/5、6/3、9/9、10/10適用假日價<br>

      --------------------------------------------<br>

      【2022春節優惠】<br>
      ★ 1/31除夕午餐、2/1初一、2/3初三～2/5初五午晚餐 吃到飽 特別優惠價 $1529/人<br>
      ★ 1/31除夕、2/2初二 下午茶 吃到飽 特別優惠價 $1419/人<br>
      ★ 2/1初一、2/3初三～2/5初五 下午茶 吃到飽 特別優惠價 $1089/人<br>
      ★ 2/2初二 午晚餐 吃到飽 特別優惠價 $1859/人<br>

      ➤ 以上價格皆內含服務費<br>
      ➤ 預付優惠不得與現場優惠合併使用<br>
      ➤ 請預訂全部成人人數。若孩童欲一同前往，請於「特殊需求」欄位備註「幾位大人幾位小孩」及所需娃娃椅，兒童 80~100 公分需酌收 150 元清潔費：100~140 公分半價計費；140 公分以上以成人價計費，孩童餐費可於現場付費！<br>


      【豐FOOD落實防疫，我們共同挺過】<br>
      ★全面加強防疫不停歇<br>
      1. 空間挑高9米，半開放式空間，保持良好的空氣流通<br>
      2. 座位區寬敞，將座位排開、桌距變寬、設置隔板，保持安全距離<br>
      3. 每30分鐘全體工作人員落實手部清潔及消毒<br>
      4. 各餐檯區每30分鐘進行消毒並更換取餐夾<br>
      5. 隨時因應疾管局及政府相關單位發布疫情狀況，調整具體措施<br>
      6. 製作專屬防疫網站，加強宣導防疫觀念<br>

      為了擁有更安心的用餐環境，請大家務必配合取餐配戴口罩及手套<br>
      保護自己等於保護他人，也請體諒我們的嚴格防疫<br>
      #我們用心防疫您們安心用餐<br>
      豐FOOD持續保持，防疫走在最前端不鬆懈<br>
      大家一定要好好照顧健康!! 我們一起堅持!!<br>
    </div>

    <div class="inline-block mr-2 mt-5 flex justify-center w-full">
      <button type="select" class="focus:outline-none text-red-600 text-sm py-2.5 px-5 rounded-full border border-red-600 hover:bg-red-50 w-11/12">２人</button>
    </div>

    <a href="http://localhost:3000/offers">
    <div class="inline-block mr-2 mt-5 flex justify-center w-full">
      <button type="button"
      class="focus:outline-none text-white text-sm py-2.5 px-5 border-b-4 border-red-600 rounded-md bg-red-500 hover:bg-red-400 w-11/12">立即訂位
      </button>
    </div>
    </a>

    

  </div>

</div>
